.hobbies {
  display: flex;
  flex-direction: column;

  .hobbyHeading {
    display: flex;
    justify-content: start;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: serif;
    font-weight: 25px solid grey;
  }

  .cards-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .cards-row {
      display: flex;
      flex-direction: row;
    }

    .hobby-card {
      display: flex;
      width: 50%;
      min-width: 280px;
    }

    .hobby-component {
      width: 100%;
    }
  }
}
