.contact {
  width: 300px;
  padding: 20px;
  margin: 50px auto;
  border: 2px solid #333;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #f9f9f9;
}

.contact h3 {
  color: #333;
  font-size: 18px;
  text-align: center;
}

.contact p {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
  margin: 10px 0;
}
