<div class="profile" id="profileComponent">
  <div class="profile-image-container">
    <span class="m-24 profile-name">Palguna Manchale</span>
    <img class="m-24 profile-image" src="assets\images\1432.jpg" />
  </div>
  <div class="m-24 personal-info">
    <span class="personal-info-header">About me</span>
    <p class="personal-info-description">
      Hello! My name is Palguna M S. Currently I am pursuing my final year BE in
      information science and engineering branch at BNMIT. I am intereted in web
      development and currently I am working on a front end web project.
    </p>
  </div>
</div>
