<div class="profile" id="profileComponent">
  <span class="profile-heading">Profile</span>
  <div class="profile-body">
    <div class="profile-image-container">
      <img class="m-24 profile-image" src="assets\images\myPic.jpg" />
    </div>
    <span class="vertical-divider"></span>
    <div class="m-24 personal-info">
      <span class="personal-info-header">About me</span>
      <p class="personal-info-description">
        Hello! My name is Palguna M S. Currently I am pursuing my final year BE
        in information science and engineering branch at BNMIT. I am intereted
        in web development and currently I am working on a front end web
        project.
      </p>
    </div>
  </div>
</div>
